# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_PAINTBRUSHCHORDER_LEFT

config ZMK_KEYBOARD_NAME
    default "paintbrushchorder"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_PAINTBRUSHCHORDER_LEFT || SHIELD_PAINTBRUSHCHORDER_RIGHT

config ZMK_SPLIT
    default y

endif
